body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1420px;
    height: 800px;
    background-color: grey;
}

.render {
    border: 3px solid black;
}

.title {
    font-size: 70px;
    font-family: monospace;
    margin: 10px;
}

.turn {
    font-size: 70px;
    font-family: monospace;
    margin: 0px;
}

.row {
    display: flex;
}

.cell {
    width: 170px;
    height: 170px;
    font-size: 100px;
    border: 2px solid black;
}

.button {
    width: 170px;
    height: 170px;
    border: none;
    background-color: bisque;
    font-size: 100px;
    align-items: flex-end;
    font-family: monospace;
}

#reset {
    width: 200px;
    padding: 10px;
    margin: 30px;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: 20px;
    background-color: lightsalmon;

}
